doctype html
html
    head
        meta(charset='utf-8')
        meta(name='robots', content='all,follow')
        meta(name='googlebot', content='index,follow,snippet,archive')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title (っ◔◡◔)っ ♥ 03D.CNTT02 ♥ | Trang chủ
        meta(name='keywords', content='ukb, cntt, 03d, bac ninh, upload file')

        meta(property='og:title', content='(っ◔◡◔)っ ♥ 03D.CNTT02 ♥ | Trang chủ')
        meta(property='og:site_name', content='(っ◔◡◔)っ ♥ 03D.CNTT02 ♥ | Trang chủ')
        meta(property='og:description', content='Trang chủ 03D.CNTT02 UKB')
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://cntt02.cf')
        meta(property='og:image', content='')

        link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='../bootstrap/bootstrap.v4.min.css')

        //
              *** THƯ VIỆN NGOÀI
              ____________________________________________________________
        script(src="../jquery/jquery.min.js")
        script(src="../tether.min.js")
        script(src="../bootstrap/bootstrap.v4.min.js")
        script(src="../moment.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js")

        //
          *** END ***

    body(ng-app="app" ng-cloak="true" ng-controller="mainController")
        //
            *** THANH TIÊU ĐỀ
            _______________________________________________________________
        nav.navbar.navbar-light.bg-faded(style="margin-bottom:15px")
            button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar2', aria-controls='exCollapsingNavbar2', aria-expanded='false', aria-label='Toggle navigation')
                | ☰
            #exCollapsingNavbar2.collapse.navbar-toggleable-xs
                a.navbar-brand(href='#') ♥ 03D.CNTT02 ♥
                ul.nav.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='#')
                            | Trang Chủ
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Mã Nguồn
        //
                  *** END ***
        .container
            .list-group
                p {{ title }}
                div(ng-view)
                script(type="text/ng-template" id="mail")
                script(type="text/ng-template" id="detail")

    script(src="/main/mail/app-mail.js")